#typeWriter{
    margin: 40px 80px;
    font-size: 25px;
    text-align: center;
}

#aboutHeader{
    font-size: 25px;
}

#aboutMe{
    margin: 100px 80px;
    display: grid;
    grid-template-columns: 25.1% 25.1%;
    justify-content: center;
    gap: 40px;
    height: 50%;
}

#aboutMeDesc{
    height: 70%;
}

#aboutInfo{
    font-size: 18px;
}

#aboutMePost{
    background-color: white;
    aspect-ratio: .8;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    grid-template-rows: 10% 72% 18%;
    border: 1px solid black;
}

#aboutMeUser{
    color: black;
    display: flex;
    align-items: center;
}

#aboutMeUser img{
    height: 60%;
}
 
#aboutMeUsername{
    font-weight: bold;
    padding-left: 10px;
    font-size: 1vw;
}

#aboutMeImg{
    border: 1px solid black;
}

#aboutMeImg img{
    max-width: 100%;
    max-height: 100%;
}

#aboutMeReacts{
    max-width: 100%;
    display: flex;
    height: 30%;
    margin-top: 10px;
    justify-content: space-between;
}

#leftReacts, #rightReacts{
    display: flex;
    height: 100%;
}

#iconComment{
    padding: 0px 10px;
}

#aboutFooter{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Large devices (1201px to 1500px) */
@media only screen and (max-width: 1500px) {
    #aboutMe{
        grid-template-columns: 35% 35%;
    }
}

/* Large devices (993px to 1200px) */
@media only screen and (max-width: 1200px) {
    #aboutMe{
        grid-template-columns: 45% 45%;
    }
}

/* Medium devices (landscape tablets, 769px to 992px) */
@media only screen and (max-width: 992px) {
    #typeWriter{
        margin: 10px 80px 30px 80px;
    }
    #aboutMe{
        margin: 20px 80px;
        grid-template-columns: 65%;
        grid-template-rows: 50% 50%;
        /* height: 80%; */
        height: auto;
        gap: 30px;
        text-align: center;
    }
    #aboutMePost{
        width: 300px;
        justify-self: center;
    }
    #aboutHeader{
        margin: 15px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 577px to 768px) */
@media only screen and (max-width: 768px) {
    #aboutMe{
        grid-template-columns: 95%;
    }
}

/* Small devices (phones, 386px to 576px) */
@media only screen and (max-width: 576px) {
    #aboutMe{
        margin: 20px 25px;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        gap: 35px;
    }
    #aboutMePost{
        width: 250px;
    }
}

/* Extra small devices (phones, 385px and down) */
@media only screen and (max-width: 385px) {
    #aboutMe{
        gap: 15px;
    }
    #aboutFooter{
        position: relative;
        text-align: center;
        padding-bottom: 10px;
    }
}

/* Extra small devices (phones, 385px and down with max-height of 959px) */
@media only screen and (max-width: 480px) and (max-height: 959px) {
    #aboutFooter{
        position: relative;
        text-align: center;
        padding-bottom: 10px;
    }

}
