/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

 /* slideshow display */
#slideshow{
    display: grid;
    grid-template-columns: minmax(400px, 22%) minmax(450px, 25%) minmax(400px, 22%);
    grid-template-areas: 'prevSlide mainSlide nextSlide';
    align-items: center;
    justify-content: center;
    gap: 80px;
}

/* Defines position of three images in slideshow */
.prevSlide{
    grid-area: prevSlide;
}

.mainSlide{
    grid-area: mainSlide;
}

.nextSlide{
    grid-area: nextSlide;
}

/* Hide the images by default */
.mySlides {
    display: none;
    opacity: 0.6;
}

.mySlides img {
    width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #ccc;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/6 etc) */
.imgNumber {
    font-size: 12px;
    padding: 8px 12px;
}

/* Container for caption and gallery images - fixed black background bottom page*/
#gallery{
    width: 100%;
    position: fixed;
    bottom: 0px;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    margin-top: 10px;
    color: white;
}

/* gallery/demo images below slideshow */
.row{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-bottom: 50px;
}

.row:after{
    background-color: black;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.5;
    max-height: 100%;
    aspect-ratio: 1; 
}

/* Add a opaqueness effect for active images and hovered images*/
.active,
.demo:hover {
    opacity: 1;
}

#travelFooter{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
}

/* Large devices (1351px to 1500px) */
@media only screen and (max-width: 1500px) {
    #slideshow{
        grid-template-columns: 29% 32% 29%;
        gap: 30px;
    }
}

/* Large devices (1201px to 1350px) */
@media only screen and (max-width: 1350px) {
    .container{
        margin-top: 40px;
    }
}

/* Large devices (601px to 1200px) */
@media only screen and (max-width: 1200px) {
    .container{
        margin-top: 0px;
    }
    #slideshow{
        grid-template-columns: 100%;
        grid-template-areas: 'mainSlide';
        text-align: center;
    }
    .prevSlide{
        display: none !important;
    }
    .nextSlide{
        display:none !important;
    }
    .mySlides img {
        width: 480px;
    }
}

/* Small devices (portrait tablets and large phones, 577px to 600px) */
@media only screen and (max-width: 600px) {
    .row{
        height: 70px;
    }
    .mySlides img {
        width: 79%;
    }
}

/* Small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .container{
        margin-top: 15px;
    }
    .row{
        padding-bottom: 80px;
    }
    .mySlides img {
        width: 81%;
    }
    .demo {
        height: 90%;
    }
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    #slideshow{
        margin-top: 40px;
    }
}

/* Extra small devices (phones, 385px and down) */
@media only screen and (max-width: 385px) {
    #slideshow{
        margin-top: 100px;
    }
    .demo {
        height: 75%;
    }
}

/* For smaller devices when height is smaller but width is larger than 1200px*/
/* To avoid overlap of caption/gallery and slideshow for smaller height devices */
@media only screen and (max-height: 959px) {
    .container{
        margin-top: 0px;
    }
    #slideshow{
        grid-template-columns: minmax(300px, 20%) minmax(325px, 22%) minmax(300px, 20%);
    }
}

@media only screen and (max-height: 850px) {
    #slideshow{
        grid-template-columns: minmax(300px, 17%) minmax(325px, 18%) minmax(300px, 17%);
    }
}

/* For smaller devices when height is smaller but width is smaller than 1200px*/
/* To avoid overlap of caption/gallery and slideshow for smaller height and width devices */
@media only screen and (max-width: 1200px) and (max-height: 959px) {
    #slideshow{
        grid-template-columns: 100%;
        grid-template-areas: 'mainSlide';
    }
    .mySlides img {
        width: 400px;
    }
}

@media only screen and (max-width: 1200px) and (max-height: 850px) {
    .mySlides img {
        width: 325px;
    }
}

@media only screen and (max-width: 1200px) and (max-height: 750px) {
    .mySlides img {
        width: 275px;
    }
}

@media only screen and (max-width: 480px) and (max-height: 750px) {
    #slideshow{
        margin-top: 0px;
    }
    .mySlides img {
        width: 265px;
    }
    .row{
        padding-bottom: 40px;
    }
}
